modules = ["python-3.11", "postgresql-16"]
[nix]
channel = "stable-24_05"
packages = ["c-ares", "cacert", "cargo", "glibcLocales", "grpc", "iana-etc", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "xcodebuild", "zlib"]
[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "app_server"

[[workflows.workflow]]
name = "app_server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Run"
author = 37808950
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
[[ports]]
localPort = 5000
externalPort = 80
